<Project>

  <PropertyGroup>
    <!-- Set if the default steam game install directory doesn't work. -->
    <!-- <RiskofRain2GameRootDir></RiskofRain2GameRootDir> -->
    <!-- Set if your BepInEx/plugins/ directory isn't in the game files. -->
    <!-- <RiskofRain2PluginsDir></RiskofRain2PluginsDir> -->
  </PropertyGroup>

  <Target Name="DeployFiles" AfterTargets="Build">
    <Message Text="Deploy → $(RiskofRain2PluginsDir)$(AssemblyName).dll" Importance="High" />
    <Error
      Text="Plugins directory '$([MSBuild]::NormalizeDirectory($(RiskofRain2PluginsDir)))' doesn't exist! Configure RiskofRain2PluginsDir to point to a valid path in the Config.Build.user.props file."
      Condition="!Exists('$(RiskofRain2PluginsDir)')"
    />
    <Copy SourceFiles="$(TargetPath)" DestinationFolder="$(RiskofRain2PluginsDir)" />
  </Target>

</Project>
